body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", cursive;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.bg-div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background: linear-gradient(
    331.58deg,
    rgba(48, 5, 5, 0.871) -34.61%,
    #230b3f 13.86%,
    #202f3b 62.45%,
    #202f3b 96%
  );
}
.nav-bar {
  height: 8vh;
  width: 100vw;
  background: transparent;
}
.page {
  height: 100%;
  position: relative;
}
.side-bar {
  height: 92vh;
  display: flex;
  flex-direction: column;
  margin-right: 0;

  width: 15vw;
  background: rgba(255, 255, 255, 0);
  float: left;
}
.side-bar ul {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 0;
  list-style-type: none;
  color: rgb(250, 250, 250);

  font-size: 24px;
  font-weight: 400;
}
.side-bar ul li {
  padding: 8px 0px 8px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin: 2px 0;
}
.side-bar ul li:hover {
  color: #ff4d2c;
  background-color: rgb(250, 250, 250);
}
.content {
  position: absolute;
  height: 100vh;
  width: 85vw;
  float: right;
  right: 0;
  top: 0;
  font-family: "Roboto", sans-serif;
  /* padding-top: 65px;
    padding-left: 50px; */
  border-top-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.568);

  overflow: scroll;
}

/* width */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.466);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4d2c;
}
.film-holder {
  margin-top: 32px;
  margin-left: 10px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
.film {
  position: relative;
  height: 277.69px;
  width: 190px;
  background-color: rgb(119, 119, 119);
  margin-left: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.film #thum {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.film .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: none; */
  font-family: "Roboto", sans-serif;

  opacity: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  cursor: pointer;

  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(0px);
  /* --webkit-backdrop-filter: blur(0px); */
  background-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5544) 3.55%,
    rgba(255, 255, 255, 0.3024) 40.05%,
    rgba(255, 255, 255, 0.1512) 58.53%
  );
  transition: all 0.15s ease;
  overflow: scroll;
  /* transition: opacity 0.3s ease ; */
}

.film:hover .overlay {
  display: block;
  height: 60%;
  opacity: 1;

  backdrop-filter: blur(3.5px);
  /* --webkit-backdrop-filter: blur(3.5px); */
}

/* .overlay:hover {
    display: block;
    height:50%;
    opacity: 0.8;
    width: 100%;
    backdrop-filter: blur(5.5px);
    --webkit-backdrop-filter: blur(5.5px);
} */

.film-name {
  font-size: 22px;
  margin: 2px 5px;
  text-align: center;
  margin-top: 4px;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 0px;
}
.overlay hr {
  width: 70%;
  margin: 0 auto;
  margin-top: -1px;
  background: #c4c4c400;
}
.overlay .film-rate {
  margin: 0 auto;
  text-align: center;
}
.overlay .film-rate span p {
  height: 25px;
}
.overlay .film-rate span sub img {
  height: 25px;
  width: 40px;
  transform: translate(0px, 4px);
}
.overlay .coliction {
  display: flex;
  justify-content: center;
}
.overlay .film-rate .coliction p,
.overlay .coliction p {
  margin-right: 8px;
  margin-bottom: 4px;
  background-color: rgba(184, 184, 184, 0.596);
  color: rgb(36, 36, 36);
  border-radius: 4px;
  padding: 0px 5px;
  font-size: 13px;
  font-weight: 800;
}

.overlay .coliction p {
  margin-top: 4px;
  color: azure;
  background-color: rgb(36, 36, 36);
  font-weight: 400;
}
/* -------------------------------------------------------------------------- */
/* 

 .cont {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image {
    display: block;
    width: 200px;
    height: 200px;
}


.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #008cba;
}
overlayBottom{
    width: 100%;
    height: 0;
    bottom:0;
    left:0;
    background-color: #941e33;
}
.cont:hover .overlayTop ,.cont:hover .overlayBottom {
    height: 100%;
} */
.nxt-pg {
  background-color: rgb(236, 10, 10);
  z-index: 555;
}

/* -------------------------------------------------------------------------- */

/* ---------------------------------- input --------------------------------- */

input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
.go {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 80px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  transform: translateY(-1px);
  cursor: pointer;

  border-bottom-right-radius: 320px;
  border-top-right-radius: 320px;
}
.go:active {
  color: #ff4d2c;
}

input {
  /* float: left; */
  height: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 280px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  width: 380px;
}

/* -------------------------------- end input ------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* ----------------------------- head navigation ----------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.head {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.head nav {
  height: 100%;
  margin-right: 40px;

  /* background-color: rgba(255, 255, 255, 0.123); */
}
nav ul {
  /* float: right; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* vertical-align: middle; */

  /* margin-top: 20px; */
  height: 100%;
  width: 100%;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  outline: none;
  color: #ffffffe3;
  background-color: transparent;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.04em;
  transition: all 0.5s ease 0s;
  padding: 5px 10px;

  border-radius: 5px;
  cursor: pointer;
}
nav ul li:hover {
  background-color: #ff4d2c;
}

/* .head ul li a  {
  outline: none;
  color: #ffffffe3;
  background-color: transparent;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.04em;
  transition: all 0.5s ease 0s;
  padding: 20px 8px;

  /* height: 64px; */
/* margin: auto; */ /*
}*/
